body {
    background-color: #d8ebe7;
    margin-left: 25px;
    margin-bottom: 50px;
}

.clearfix {
    clear:both;
}

.description {
    float: left;
    width: 53%;
    margin: 12px 0 0 20px;
    font-size: 27px;
}

h1 {
	font-family: Helvetica;
    font-weight: bold;
    text-align: center;
    color: #367e7b;
    margin-top: 50px;
}

h3 {
	font-family: Helvetica;
	font-weight: bold;
    margin-left: 80px;
    margin-top: 50px;
	color: #367e7b;
}

h4 {
	font-family: Helvetica;
	font-weight: bold;
	text-align: left;
    color: #535c5b;
    margin-bottom: -10px;
}


#img1 {
	height: 360px;
    width: 360px;
    float: left;
    margin-left: 80px;

}

#img2 {
	height: 308px;
    width: 460px;
    margin-left: 60px;

}

#header {
	position: left;
	top: -10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;  
}

ul{
	list-style-type: none;
    position: left;
    margin-left: 40px;
    padding-bottom: 30px;
}

li {
	font-family: Helvetica;
    color: #4eb1ad;
    position: center;
}


p {
	font-family: Helvetica;
    font-size: 1em;
    color: #7d8786;
}


#footer{
	clear: both;
	position: relative;
	height: 75px;
    background-color: #3c4543;
    margin-bottom: 80px;
}

